body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.container {
  display: grid;
  margin-top: 1em;
}

.img-container {
  position: relative;
  text-align: center;
}

.profile-pic {
  width: 15.7rem;
  position: relative;
  top: 1.55rem;
  left: 0.5rem;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
  -moz-box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
  box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
}
.img-bg {
  width: 19.75rem;
  position: absolute;
  left: 1.5rem;
  top: 0rem;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.icon {
  padding: 0 15px;
}

.quote-container {
  position: relative;
  padding-top: 1rem;
}
.quotation-mark {
  width: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2rem;
}
.quote {
  position: relative;
  z-index: 15;
  font-size: 5vw;
  text-align: center;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 1rem;
  font-weight: bold;
}
.title {
  font-size: small;
}
.img-curve {
  position: relative;
  bottom: 0;
  width: 85%;
  left: -0.5em;
}

.attribution {
  padding: 1rem 0;
  font-size: 11px;
  text-align: center;
  background-color: rgba(97, 6, 100, 0.623);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    grid-template-columns: auto auto;
    margin-top: 3em;
    width: 100vw;
  }

  .quote-container {
    order: 1;
  }
  .img-container {
    order: 2;
  }

  .img-bg {
    position: relative;
    width: 31.5rem;
    left: 0rem;
    top: -0.5rem;
  }
  .profile-pic {
    position: absolute;
    width: 24rem;
    left: 3.75rem;
    top: 2.55rem;
    -webkit-box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
    -moz-box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
    box-shadow: 0px 10px 5px 0px hsla(240, 38%, 20%, 0.15);
  }
  .nav {
    position: absolute;
    bottom: 4.25em;
    left: 3em;
    background-color: #fff;
    width: auto;
    padding: 10px 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .icon {
    padding: 0 15px;
  }

  .quote {
    position: relative;
    width: 20.5em;
    font-size: 2rem;
    left: 4.65em;
    top: 1.25em;
    z-index: 10;
    text-align: start;
  }
  .img-curve {
    width: 17em;
    position: relative;
    left: 0;
    top: 1em;
    margin-bottom: 1em;
  }
  .quotation-mark {
    width: 2.75em;
    position: relative;
    top: 2.5em;
    left: -0.65em;
  }
  .bio {
    display: block;
    position: relative;
    top: 1em;
    left: 4.75em;
  }
  .title {
    position: relative;
    top: 0.05em;
    font-size: 0.55em;
    width: 20em;
  }
  .name {
    font-weight: 700;
  }

  .attribution {
    position: relative;
  }
}
